/* Variables de couleur */
$primary-color: #D87D4A;
$secondary-color: #101010;
$active-color: #FBAF85;
$light-grey: #FAFAFA;
$grey: #F1F1F1;
$white: #FFFFFF;
$black: #000000;

/* Variables de typographies */
$font-family: "Manrope", sans-serif;

/* Variables d'espacement */
$margin: 48px;
$margin-content: 200px;
$padding: 30px;

/* Variables de style globales */
$shadow : 0 0 20px rgba(0,0,0,0.1);
$shadow-focus : 0 0 10px rgba(0,0,0,0.07);
$radius : 5px;
$border: 1px solid $light-grey;
$border-radius: 8px;

/* Laisser les valeurs en px, les tailles sont calculée en rem par la suite */
$h1-size : 48px;
$h1-size-sm : 30px;
$h2-size : 26px;
$h3-size : 24px;
$h4-size : 21px;
$h5-size : 24px;
$h6-size : 18px;
$p-size : 18px;
$chapo-size : 20px;

$line-height : 1.25;
$line-height-title : 1.3;

/* Ratio des titres en mobile */
$font-ratio : 0.7;

/* Taille du conteneur */
// $container-width: 88.125rem;  
$container-width: 1110px;  

/* Grille sémantic ui */
$mobile-breakpoint				: 36rem; /*576px*/
$tablet-breakpoint				: 48rem; /*768px*/
$computer-breakpoint			: 62rem; /*992px*/
$large-monitor-breakpoint		: 75rem; /*1200px*/
$widescreen-monitor-breakpoint	: 99rem; /*1584px*/