@import '../../index.scss';

.category-content {
  background-color: $grey;
  min-height: 205px;
  text-align: center;
  border-radius: $border-radius;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h4 {
    font-size: 18px;
    letter-spacing: 1.29px;
    margin: 0;
  }

  img {
    max-width: 60%;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
  }

  a {
    margin-bottom: 30px;
  }
}